@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Italic.ttf) format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Black.ttf) format('truetype');
    font-weight: bolder;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: light;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-LightItalic.ttf) format('truetype');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Thin.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-ThinItalic.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}


@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Regular.otf) format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Bold.otf) format('opentype');
    font-weight: 700;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Light.otf) format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Medium.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-ExtraLight.otf) format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway/Raleway-Thin.otf) format('opentype');
    font-weight: 100;
}


body {
  margin: 0;
  font-family: 'Lato';
}
