@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Italic.ttf) format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Black.ttf) format('truetype');
    font-weight: bolder;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: light;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-LightItalic.ttf) format('truetype');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Thin.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-ThinItalic.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}


@font-face {
    font-family: 'Raleway';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Raleway-Bold';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Bold.otf) format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Raleway-SemiBold';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Bold.otf) format('opentype');
    font-weight: semibold;
}
@font-face {
    font-family: 'Raleway-Light';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Light.otf) format('opentype');
    font-weight: light;
}
@font-face {
    font-family: 'Raleway-Medium';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Medium.otf) format('opentype');
    font-weight: medium;
}
@font-face {
    font-family: 'Raleway-Lighter';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-ExtraLight.otf) format('opentype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Raleway-Thin';
    src: local('Raleway'), url(./fonts/Raleway/Raleway-Thin.otf) format('opentype');
    font-weight: thin;
}

body {
  margin: 0;
  font-family: Raleway;
}
