@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Italic.ttf) format('truetype');
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Black.ttf) format('truetype');
    font-weight: bolder;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-BlackItalic.ttf) format('truetype');
    font-weight: bolder;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Light.ttf) format('truetype');
    font-weight: light;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-LightItalic.ttf) format('truetype');
    font-weight: light;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-Thin.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: 'Lato';
    src: local('Lato'), url(./fonts/Lato/Lato-ThinItalic.ttf) format('truetype');
    font-weight: lighter;
    font-style: italic;
}


body {
  margin: 0;
  font-family: Lato;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
